<html>
  <body>
    <form action="{{ADD_STUDENT_ROUTE}}" method="post">
      <input type="text" name="rollNo" placeholder="roll number"><br>
      <input type="text" name="firstname" placeholder="first name"><br>
      <input type="text" name="lastname" placeholder="last name"><br>
      <input type="text" name="contact" placeholder="contact"><br>
      <input type="text" name="dob" placeholder="Date of Birth"><br>
      <input type="text" name="city" placeholder="Place"><br>
      <input type="text" name="state" placeholder="State"><br>
      <input type="text" name="pincode" placeholder="PinCode"><br>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
