<html>
  <body>
    <form action="{{LOGIN_ROUTE}}" method="post">
      <input type="text" name="username" placeholder="Username"><br>
      <input type="password" name="password" placeholder="Password"><br>
      <button type="submit">login</button> 
    </form>
  </body>
</html>
